UnitTestProject1/bin/
UnitTestProject1/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UnitTestProject1/obj/
PalindromeAnagram/PalindromeAndAagram/obj/project.assets.json
PalindromeAnagram/PalindromeAndAagram/obj/PalindromeAndAagram.csproj.nuget.g.targets
PalindromeAnagram/PalindromeAndAagram/obj/
PalindromeAnagram/PalindromeAndAagram/bin/
